.NavigationItem{
    margin: 20px 0;
    background-origin: border-box;
    display: block;
    width:100%;
    font-weight: 500;
}

.NavigationItem a{
    text-decoration: none;
    width:  100%;
    box-sizing: border-box;
    display: block;
    color:black;
}
.NavigationItem a:active,
.NavigationItem a.active{
    color:lightblue;
}

@media(min-width:500px)
{.NavigationItem{
    margin-left: 10px;
    display: flex;
    width: auto;
    align-items:center;
}

.NavigationItem a{
    color:black;
    text-decoration: none;
    padding: 16px 10px;
    border-bottom: 3px solid transparent;

}
.NavigationItem a:hover{
   border-bottom: 3px solid lightblue;
}
.NavigationItem a:active,
.NavigationItem a.active{
    color:black;
    border-bottom: 3px solid lightblue;
}
}