.button {
    border:none;
    display: inline-block;
    padding: 0.5em 1.3em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    position: relative;
    transition: all 0.2s ease 0s;
}


.button.primary{
    background-color: var(--primary);
    color:var(--primary-text-color);
}
.button.primary:hover{
    background-color: var(--primary-hover);
}
.button.primary:focus{
    outline-color: var(--primary-outline);
}
.button.danger{
    background-color:var(--danger);
    color:var(--danger-text-color);
}
.button.danger:hover{
    background-color: var(--danger-hover);
}
.button.warning{
    background-color:var(--warning);
    color:var(--warning-text-color);
}
.button.warning:hover{
    background-color: var(--warning-hover);
}
.button:active {
      box-shadow:  0 2px 6px 0 rgba(0, 0, 0, 0.4);  
      transform: translateY(3px);
      transition: all 0 0.5s cubic-bezier(0.4, 0, 0.2, 1); 
}